nav {
    background-color: #8b8a8a;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

nav li {
    display: inline;
    margin-right: 1rem;
    font-family: 'Arial', sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
nav .active {
    font-weight: bold;
    text-decoration: underline;
}

.logo {
    width: 70px;
    height: 70px;
    position: fixed;
    left: 20px;
    top: 15px;
}