/*Global*/
body{
    background-color: #f8f9fa;
    font-family: sans-serif;
    line-height: 1.3;
    margin: 0;  
    color: #333;
}

main {
    max-width: 950px;
    margin: 0 auto;
}

.guide {
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
}

.reflect {
    background: #f1f5ff;
    border-left: 5px solid #3a7bd5;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.pro-con {
    display: grid;
    gap: 20px;
    margin-top: 15px;
}

@media (min-width: 700px){
    .pro-con{
        grid-template-columns: 1fr 1fr;
    }
}

/*Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #656568;
    padding: 10px 20px;
}

nav .logo-title{
    display: flex;
    align-items: center;
    gap: 15px;
}

nav img.logo {
    width: 50px;
    height: auto;
}

nav h3 {
    margin: 0;
    white-space: nowrap;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

nav a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

nav a:hover,
nav .active {
    text-decoration: underline;
}


p, li, h2, h3 {
    font-family: inherit;
}

.story {
    display: grid;
    margin-top: 30px;
    gap: 20px;
}

.story-box {
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    border-radius: 10px;
    padding: 20px;
}

.story-box h3 {
    color: #333;
    margin-top: 0;
    font-size: 1.25rem;
}

.story-box .label {
    font-weight: bold;
    font-size: 0.90rem;
    color: #3a7bd5;
    text-transform: uppercase;
    margin-bottom: 10px;    
}
@media (min-width: 700px) {
    .story {
        grid-template-columns: repeat(2, 3fr);
    }
}

.use {
    display: grid;
    margin-top: 30px;
    gap: 20px;
}

.use-box {
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    border-radius: 10px;
    padding: 20px;
    background: white;
}

.use-box h3 {
    color: #333;
    margin-top: 0;
}

.use-box .tag {
    background: #e7f1ff;
    color: #1e6adb;
    display: inline-block;
    font-size: 0.8rem;
    padding: 3px 8px;
    border-radius: 4px;
    margin-bottom: 10px;
}

